---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { IoIosLeaf } from "react-icons/io";
import { AiFillStar } from "react-icons/ai";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class="relative bg-accent-lighter">
      <p
        class="flex items-center justify-center text-text-xxs md:text-text-xs lg:text-text-sm"
      >
        5475 West Loop S, Ste 170, Houston, TX 77081
      </p>
    </div>
    <main>
      <div class="relative">
        <img
          src="https://i.ibb.co/6ZjTHgM/2-Tea-Cups.jpg"
          alt="2-Tea-Cups"
          border="0"
          class="h-auto w-screen object-cover opacity-70 md:h-screen"
        />
        <div
          class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center gap-4 bg-black bg-opacity-70 md:gap-9 lg:gap-12"
        >
          <h1
            class="px-10 text-center text-text-2sm font-bold uppercase text-white md:px-20 md:text-text-3xl lg:px-44 lg:text-text-5xl"
          >
            Welcome to Jade's Tea House
          </h1>
          <p
            class="px-8 text-center text-text-xs text-white md:px-14 md:text-text-sm lg:px-44 lg:text-text-2sm"
            style="max-width: 95rem;"
          >
            At Jade's Tea House - your one-stop destination for refreshing
            smoothies, tantalizing slushies, authentic milk tea, premium teas,
            delicious coffees, and delectable Vietnamese Banh Mi, satisfying all
            your cravings in one sip!
          </p>
        </div>
      </div>
      <div class="flex flex-col px-5 py-5 lg:flex-row xl:px-32 2xl:px-44">
        <img
          src="https://i.ibb.co/nmdPVtJ/Holding-Tea-Cup.jpg"
          alt="Holding-Tea-Cup"
          border="0"
          class="w-screen"
        />
        <div
          class="mt-3 flex flex-col items-center justify-center gap-5 border-2 border-black py-14 lg:ml-3 lg:mt-0 lg:gap-7"
        >
          <h1
            class="fontbold flex flex-row text-text-base uppercase md:text-text-md lg:text-text-xl"
          >
            <IoIosLeaf
              className="mt-1 lg:h-9 lg:w-9 text-dark-green"
              aria-hidden="true"
            />Peach Green Tea
          </h1>
          <p
            class="max-w-lg px-10 text-center text-text-xs lg:max-w-none lg:text-text-sm"
          >
            Introducing our refreshing Peach Green Tea, crafted with the finest
            tea leaves and infused with the natural sweetness of ripe peaches.
            Savor the delightful blend that brings a burst of fruity flavors to
            every sip, making it the perfect choice for a rejuvenating and
            delicious tea experience at our store, Jade's Tea House.
          </p>
          <div class="flex flex-row gap-1">
            <h3 class="text-text-xs font-semibold md:text-text-sm">
              Irresistible Coolness:
            </h3>
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col px-5 pb-5 lg:flex-row xl:px-32 2xl:px-44">
        <img
          src="https://i.ibb.co/L6q8XX3/Milk-Tea.jpg"
          alt="Milk-Tea"
          border="0"
          class="order-1 w-screen lg:order-2"
        />
        <div
          class="order-2 mt-3 flex flex-col items-center justify-center gap-5 border-2 border-black py-14 lg:order-1 lg:mr-3 lg:mt-0 lg:gap-7"
        >
          <h1
            class="fontbold flex flex-row text-text-base uppercase md:text-text-md lg:text-text-xl"
          >
            <IoIosLeaf
              className="mt-1 lg:h-9 lg:w-9 text-dark-brown"
              aria-hidden="true"
            />
            Jade's Milk Tea
          </h1>
          <p
            class="max-w-lg px-10 text-center text-text-xs lg:max-w-none lg:text-text-sm"
          >
            Indulge in the creamy perfection of Jade's Milk Tea, our signature
            milk tea crafted with premium tea leaves and a hint of sweetness.
            Experience a harmonious fusion of flavors that will transport you to
            a world of pure tea bliss at Jade's Tea House, your ultimate
            destination for delightful beverages.
          </p>
          <div class="flex flex-row gap-1">
            <h3 class="text-text-xs font-semibold md:text-text-sm">
              Flavorful Bliss:
            </h3>
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col px-5 pb-5 lg:flex-row xl:px-32 2xl:px-44">
        <img
          src="https://i.ibb.co/Rc6WNg9/Banh-Mi.jpg"
          alt="Banh-Mi"
          border="0"
          class="w-screen"
        />
        <div
          class="mt-3 flex flex-col items-center justify-center gap-5 border-2 border-black py-14 lg:ml-3 lg:mt-0 lg:gap-7"
        >
          <h1
            class="fontbold flex flex-row text-text-base uppercase md:text-text-md lg:text-text-xl"
          >
            BBQ Pork Banh Mi
          </h1>
          <p
            class="max-w-lg px-10 text-center text-text-xs lg:max-w-none lg:text-text-sm"
          >
            Introducing our mouthwatering BBQ Pork Banh Mi! The perfect harmony
            of tender, smoky BBQ pork, crisp pickled vegetables, fresh herbs,
            and a delectable spread of savory sauces, all served in a warm,
            crusty baguette. Experience the rich flavors and textures that make
            our Banh Mi a true culinary delight, satisfying your cravings with
            every bite.
          </p>
          <div class="flex flex-row gap-1">
            <h3 class="text-text-xs font-semibold md:text-text-sm">
              Savory Satisfaction:
            </h3>
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col px-5 pb-5 lg:flex-row xl:px-32 2xl:px-44">
        <img
          src="https://i.ibb.co/dp6ydhj/20230427-DSC-1714.jpg"
          alt="20230427-DSC-1714"
          border="0"
          class="order-1 w-screen lg:order-2"
        />
        <div
          class="order-2 mt-3 flex flex-col items-center justify-center gap-5 border-2 border-black py-14 lg:order-1 lg:mr-3 lg:mt-0 lg:gap-7"
        >
          <h1
            class="fontbold flex flex-row text-text-base uppercase md:text-text-md lg:text-text-xl"
          >
            Various Toppings
          </h1>
          <p
            class="max-w-lg px-10 text-center text-text-xs lg:max-w-none lg:text-text-sm"
          >
            Enhance your drink experience with our delightful array of boba
            toppings. From chewy tapioca pearls to fruity popping boba, we offer
            a wide selection of toppings to add a burst of flavor and texture to
            your favorite drinks. Customize your beverage and create a unique
            combination that suits your taste buds.
          </p>
          <div class="flex flex-row gap-1">
            <h3 class="text-text-xs font-semibold md:text-text-sm">
              Customizable:
            </h3>
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col px-5 pb-5 lg:flex-row xl:px-32 2xl:px-44">
        <img
          src="https://i.ibb.co/s67QBsC/Stack-Cups.jpg"
          alt="Stack-Cups"
          border="0"
          class="w-screen"
        />
        <div
          class="mt-3 flex flex-col items-center justify-center gap-5 border-2 border-black py-14 lg:ml-3 lg:mt-0 lg:gap-7"
        >
          <h1
            class="fontbold flex flex-row px-4 text-center text-text-base uppercase md:text-text-md lg:text-text-xl"
          >
            Your Satisfaction is Our Pleasure
          </h1>
          <p
            class="max-w-lg px-10 text-center text-text-xs lg:max-w-none lg:text-text-sm"
          >
            At Jade's Tea House, we are dedicated to providing you with an
            extraordinary customer service experience. Our knowledgeable staff
            is always ready to assist you in finding the perfect beverage to
            suit your taste preferences. We take the time to listen to your
            needs and go the extra mile to ensure your satisfaction.
          </p>
          <div class="flex flex-row gap-1">
            <h3 class="text-text-xs font-semibold md:text-text-sm">
              Customer Service:
            </h3>
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
            <AiFillStar
              className="text-yellow-400 mt-1 h-5 w-5 lg:h-6 lg:w-6"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
